@import 'general';

.line {
    height: 2px;
    width: 200px;
    background-color: $red;
}

.navigation {
    position: fixed;
    z-index: 1;
    padding-top: 40px;

    .navigation-list {
        float: right;
        list-style-type: none;
        @include clear-mp;
    }

    .navigation-list-item {
        display: inline-block;
    }

    a {
        font-size: $size-p;
        display: block;
        padding: 0 10px;
        @include a-style(white);

        &:hover {
            color: $red;
        }
    }
}

.main {
    position: relative;
    text-align: center;

    img {
        width: 100%;
    }
    
    .main-text {
        width: 100%;
        position: absolute;
        top: 26%;
        color: white;

        h2 {
            font-size: 46px;
            font-weight: 300;
            letter-spacing: 1.15px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        span {
            font-weight: 400;
        }

        .line {
            margin: 0 auto;
        }

        p {
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: 22px;
            line-height: 38px;
            font-weight: 300;
        }
    }

    .prostokat {
        position: absolute;
        top: 94.85%;
        left: 0;
        z-index: -1;
    }

    button {
        @include button-style($red, white);
    }
}

.about {
    position: relative;
    padding-bottom: 95px;
    background-color: $grey;

    img {
        padding-top: 100px;
        float: right;
    }

    h2 {
        padding-top: 140px;
        font-size: 32px;
        line-height: 52px;
    }

    p {
        max-width: 466px;
        font-size: $size-p;
        line-height: 30px;
    }

    .video {
        cursor: pointer;
        color: $red;
        font-size: $size-p;
        text-transform: uppercase;
        font-weight: 400;
        width: 200px;

        p {
            float: left;
        }

        .border {
            margin-left: 10px;
            margin-top: 17px;
            float: left;
            border: 1.5px solid $red;
            border-radius: 50%;
            width: 27px;
            height: 27px;
        }

        .arrow {
            margin-top: 4px;
            margin-left: 8px;
            @include arrow-right(8px, 11px);
        }
    }
}

.one-text {
    width: 100%;
    text-align: center;

    h2 {
        @include clear-mp;
        padding-top: 150px;
        padding-bottom: 40px;
        font-size: 38px;
        font-weight: 400;
    }

    .line {
        margin: 0 auto;
    }

    p {
        @include clear-mp;
        padding-top: 40px;
        padding-bottom: 87px;
        margin: 0 auto;
        width: 100%;
        max-width: 681px;
        font-size: $size-p;
        font-weight: 300;
        line-height: 30px;
    }
}

.row {
    @include clearfix;
}

.ourServices {
    .ourServices-cards {
        .ourServices-image {
            width: 131px;
            height: 131px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            margin: 0 auto;
        }

        img {
            padding-top: 40px;
        }

        h2 {
            @include clear-mp;
            padding-top: 34px;
            padding-bottom: 121px;
            font-size: $size-p;
            font-weight: 400;
            text-transform: uppercase;
            color: $red;
        }
    }
}

.quotes {
    position: relative;
    text-align: center;
    color: white;

    .quotes-image {
        width: 100%;
    }

    .quotes-text {
        width: 100%;
        position: absolute;
        top: 20%;

        p {
            padding: 40px 0;
            width: 100%;
            max-width: 824px;
            margin: 0 auto;
        }
    }
    
    .one-text {
        position: absolute;
        top: -40px;

        p {
            padding-bottom: 30px;
        }
    }

    button {
        @include button-style($red, white);
    }
}

.prices {
    background-color: $grey;
    padding-bottom: 135px;
    
    .prices-card {
        width: 260px;
        height: 470px;
        background-color: white;

        p {
            font-size: $size-p;
            @include clear-mp;
        }

        .prices-card-title {
            background-color: #5a5a5a;
            color: white;
            padding-top: 33px;
            padding-bottom: 55px;

            span {
                font-size: 28px;
            }

            h2 {
                @include clear-mp;
                font-size: 50px;
            }                 
        }

        .prices-card-text {
            padding-bottom: 25px;

            p {
                line-height: 38px;
            }
        }

        button {
            @include button-style($red, white);
        }

        .prices-card-quantity {
            @include button-style($grey, black);
            margin: 0 auto;
            position: relative;
            top: -25px;

            p {
                padding-top: 15px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.additionalInfo {
    padding-top: 150px;
    padding-bottom: 134px;

    h2 {
        color: $red;
        text-transform: uppercase;
        @include clear-mp;
        text-align: left;
        padding-bottom: 29px;
        font-size: $size-p;
    }

    p {
        @include clear-mp;
        text-align: left;
        font-size: $size-p;
    }

    .additionalInfo-line {
        padding-bottom: 87px;
    }
}

.joinUs {
    text-transform: uppercase;
    height: 200px;
    width: 100%;
    background-color: $red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 38px;
        color: white;
        font-weight: 300;
        padding-right: 45px;
    }

    span {
        font-weight: bold;
    }

    button {
        @include button-style(white, $red);
    }
}

.news {
    .row {
        padding-bottom: 60px;
    }

    .news-card {
        width: 360px;
        height: 390px;
        background-color: $grey;
        text-align: left;

        h2,
        p {
            @include clear-mp;
            padding: 18px 20px 0;
            font-size: $size-p;
        }
    
        p {
            line-height: 30px;
        }
    }

    .news-more {
        font-size: $size-p;
        text-align: center;
        text-transform: uppercase;
        color: $red;
        cursor: pointer;

        p {
            margin-bottom: 10px;
        }

        .arrow-bottom {
            width: 0;
            height: 0;
            margin: 0 auto;
            @include arrow-down(5px, 10px);
            margin-bottom: 64px;
        }
    }
}

.quotes {

}